<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oh My Genes</title>
</head>
<body>
<h1>Please Upload the genes example in .txt file</h1>
<p>the correct format should be like:<br>gene_id&nbsp;&nbsp;&nbsp;&nbsp;ControlSample&nbsp;&nbsp;&nbsp;&nbsp;KnockOutSample<br>AT1G01010&nbsp;&nbsp;&nbsp;&nbsp;1.198558083&nbsp;&nbsp;&nbsp;&nbsp;2.036161827<br>AT1G01020&nbsp;&nbsp;&nbsp;&nbsp;13.75736234&nbsp;&nbsp;&nbsp;&nbsp;13.370796<br></p>

<form method="post" enctype="multipart/form-data" action="/">
    <input type="file" name="file">
    <input type="submit" value="upload">
</form>
</body>
</html>